<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Congratulations, your car is now booked!</h3>
      </div>
    </div>
    <div class="row">
      <a class="btn btn-success" href="/">Back to the homepage</a>
    </div>
  </div>

<% include ../partials/footer %>